STRINGTABLE DISCARDABLE
BEGIN
1000 "DarwinBots II"
1001 "File"
1002 "Nuova simulazione"
1003 "Carica simulazione"
1004 "Salva simulazione come..."
1005 "Salvataggio periodico"
1006 "Esci"

1007 "Inserisci specie"
1008 "Tasso globale di mutazione"
1009 "Modifica costi"
1010 "Fisica"
1011 "Crea Muri"
1012 "Trova il migliore (euristico..)"
1013 "Modifica"

1020 "Visualizzazione"
1021 "Nascondi impronte"
1022 "Velocizza"

1030 "Opzioni robot"
1031 "Cambia colore"
1032 "Mostra parentele"
1033 "Tassi di mutazione"
1034 "Apri console"
1035 "Uccidi"
1036 "Salva DNA"

1040 "Internet"
1041 "Utenti online e opzioni"
1042 "Attivo"

1050 "Aiuto"
1051 "Informazioni su DarwinBots"



2001 "Impostazioni iniziali"
2002 "Elenco specie introdotte"
2003 "Aggiungi specie"
2004 "Elimina specie"
2005 "Cancella tutto"
2006 "Duplica specie"
2100 "Commenti sulla specie"

2010 "Proprieta' iniziali delle specie"
2011 "Individui"
2012 "Energia iniziale"
2013 "Vegetale (autotrofo)"
2014 "Posizione iniziale"
2015 "Colore"
2016 "Tassi di mutazione"
2017 "Numero minimo"
2120 "Cambia"
2121 "Impronta"
2122 "Bloccato"

2020 "Proprieta' generali"
2021 "Grandezza del campo"
2022 "Massima popolazione possibile"
2023 "Vegetali non spostabili"
2024 "Metodo usato per limitare la popolazione"
2025 "carestia"
2026 "uccisione vecchi"
2027 "uccisioni casuali"
2028 "Costi e scambi di energia"
2029 "Fisica"
2030 "Salvataggio periodico"
2031 "Carica impostazioni"
2032 "Salva con nome"
2033 "Annulla"
2034 "Via!"

2200 "Controllo popolazione"
2201 "Energia massima nel campo"
2202 "circa"
2203 "Ripopola con vegetali se meno di"
2204 "Uccidi vegetali lontani"

2300 "larghezza campo:"
2301 "altezza campo:"
2302 "Toroidale (uscendo da un lato si rientra dall'altro)"
2303 "Disabilita i legami"

2040 "Da qui e' possibile inserire nuove specie in una simulazione gia' in corso. Il significato dei controlli e' lo stesso che nella finestra di impostazioni iniziali"
2041 "Inserisci specie"

3001 "Salvataggio periodico"
3002 "Salva l'intera simulazione ogni"
3003 "minuti"
3004 "Nome del file salvato"
3005 "Sfoglia..."
3006 "Salva il miglior robot ogni"
3007 "E' possibile impostare il salvataggio periodico dell'intera simulazione o dei singoli robots migliori. I files vengono salvati con un numero progressivo"
3008 "Specifica solo il nome, senza percorso e estensione"

4001 "Uscita da Darwinbots"
4002 "Sei sicuro di voler uscire?"

5001 "Frequenza globale di mutazione"
5002 "Moltiplicatore attuale:"
5003 "bassa"
5004 "alta"
5005 "Da qui e' possibile decidere un moltiplicatore per le frequenze di mutazione di tutti i robot. Utile per aumentare la variabilita' genetica di una popolazione o per stabilizzarla"

6001 "Proprieta' avanzate"
6002 "Costo di una condizione di attivazione"
6003 "Costo di un'operazione di store"
6004 "Costo di un'emissione chimica"
6005 "Calcolo dell'energia ceduta se colpiti:"
6006 "Proporzionale"
6007 "Fissa"
6008 "Applica"
6009 "Qui si possono impostare i valori di alcune variabili fondamentali per il controllo della simulazione. Ogni modifica avra' effetto sui rapporti costi/benefici per tutti gli individui"

7001 "Impostazioni fisiche"
7002 "Imposta il valore dell'attrito"
7003 "Imposta il valore della gravita'"
7004 "Imposta il valore del moto browniano"
7005 "Fattore di nuoto"
7006 "Fattore di movimento"

30001 "Arresta registrazione database"
30002 "Abilita registrazione database"
30003 "Nome del database"
30004 "Sfoglia..."
30005 "Escludi i vegetali dalla registrazione"

31001 "Nickname"
31002 "Server FTP"
31100 "Parameters"
31101 "Usa la condivisione internet"
31102 "ma non trasferire mai vegetali"
31103 "Scarica organismi composti da almeno"
31104 "cellule"
31105 "Scarica ogni"
31106 "cicli"
31107 "e ogni volta che spedisci qualcosa al server"
31108 "DarwinBots trasferira' al server ftp specificato un organismo ogni 100,000 cicli. Inoltre, il primo trasferimento sara' consentito a 100,000 cicli. "

8001 "Muri"
8002 "Traccia percorso"
8003 "Disegna"
8004 "Selezionare 'Traccia percorso' per iniziare a tracciare il percorso di un muro. Ogni click del tasto sinistro del mouse crea un segmento del percorso. Al termine creare il muro premendo 'Disegna'" 

9001 "Definsci un colore..."
9010 "Parentele"
9011 "Discendenti"
9012 "Calcola"
9013 "generazioni"
9014 "Evidenzia discendenti"
9015 "Mostra tutta la linea di parentele"
9016 "genitore"
9017 "figlio"

10001 "Tassi di mutazione"
10002 "Tasso di mutazione dei tassi di mutazione"
10003 "Da valore a valore"
10004 "Da istruzione a istruzione"
10005 "Duplicazione di un'istruzione"
10006 "Duplicazione intero gene"
10007 "Cancellazione di un gene"
10008 "Trasformazione di una condizione"
10009 "Inserimento nuova condizione"
10010 "Cancellazione di una condizione"
10011 "Duplicazione di una condizione"
10012 "Cambio di una variabile in un'altra"
10013 "Introduzione di una nuova variabile" 
10100 "Disabilita tutte le mutazioni"

11001 "Opzioni Internet"
11002 "Contatti online"
11003 "Tutti"
11004 "Aggiungi"
11005 "Elimina"
11006 "Spedisci"
11007 "Numero IP"
11008 "Modalita' di trasferimento automatico"
11009 "Mai"
11010 "Ogni n. cicli"
11011 "Trasferisci verso"
11012 "IP selezionato"
11013 "Contatto a caso"
11014 "Chiudi"
11015 "DarwinBots e' in grado di interfacciarsi con ICQ per creare automaticamente un collegamento Internet con altri utenti del programma. Nella lista 'Tutti' si possono inserire i nickname dei contatti ICQ con cui si vogliono scambiare robots. Quando questi utenti sono online, il suo nome comparira' nella lista a sinistra. per ulteriori dettagli su questa funzione consultare il file di help"

12001 "Le informazioni di cui non potete fare a meno!"
12002 "Robottini genetici!"
12003 "Versione 1.0 - Gennaio 2002"
12004 "Autore:"
12005 "Icone, sito e sopportazioni varie:"
12006 "Se vorrete segnalarmi un bug o commentare il programma o qualsiasi altra cosa ve ne saro' grato!"
12007 "E-mail: comis@libero.it"
12008 "Mi sento meglio"

13000 "Nuova simulazione"
13001 "Carica simulazione"
13002 "Salva simulazione"
13003 "Play"
13004 "Pausa"
13005 "Esegui singolo ciclo"
13006 "Inserisci robot"
13007 "Disegna muri"
13008 "Trova il migliore"
13009 "Tasso globale di mutazione"
13010 "Fisica"
13011 "Costi/benefici"
13012 "Mostra/cancella impronte"
13013 "Modo veloce"
13014 "Mostra/elimina video"
13015 "Zoom in"
13016 "Zoom out"

14001 "Cicli/sec."
14002 "Oggetti totali"
14003 "Robots totali"
14004 "Vegetali totali"
14005 "Nati"
14006 "Cicli totali"
14007 "Tempo totale"

15000 "Dati del robot"
15001 "Nome del robot"
15002 "Id del robot"
15003 "Id del genitore"
15004 "Energia"
15005 "Generazione"
15006 "Nuove mutazioni"
15007 "Mutazioni totali"
15008 "Numero di geni"
15009 "Eta' (centinaia di cicli)"
15010 "Numero di figli"
15011 "Discendenti"
15012 "Lunghezza DNA"
15015 "Ultimo proprietario"
15016 "Dettaglio mutazioni"
15017 "Chiudi dettagli"


16000 "DarwinBots: per cominciare"
16001 "I cerchi in queste immagini sono robots, cioe' macchine controllate da un programma. Ogni robot ha sensi e attuatori per interagire con l'ambiente."
16002 "Il programma di controllo si chiama DNA; lavora su una memoria caricata con i dati provenienti dai sensi; altre locazioni sono collegate ad attuatori."
16003 "Ogni robot ha bisogno di energia, per compiere azioni ed eseguire il DNA. Qui si vede un robot arancione sparare ad uno verde, forzandolo ad emettere particelle bianche che trasportano energia. Il risultato e' un trasferimento di energia a favore del robot arancione."
16004 "Un robot si sta duplicando. In questa operazione il suo DNA viene copiato in un 'corpo' nuovo. Uno spesso legame unisce genitore e figlio per qualche istante"
16005 "I robots possono unirsi con legami sottili ma duraturi. Qui si vede un verme multicellulare fatto di quattro robots, uniti secondo uno schema preciso."
16006 "I robots possono trasferire informazioni o energia lungo i legami, e anche muoverli per nuotare, come fanno questi vermi."
16007 "Schema per la vista dei robot: si tratta di una proiezione unidimensionale di una porzione di campo a 30 gradi. Nove recettori restituiscono la distanza dell'oggetto piu' vicino nel loro settore." 

20001 "Sicuro di voler uscire da DarwinBots?"
20002 "Simulazione non caricata"
20003 "Simulazione non salvata"
20004 "Attenzione!"
20005 "Non riesco a trovare il file dellle variabili (sysvars.txt)"
20006 "Non riesco a trovare il file di impostazioni"
20007 "I robots sono morti tutti, simulazione stoppata"
20008 "Tassi di mutazione per "
20009 "Tassi di mutazione"
20010 "Scegli un DNA da caricare"
20011 "Proprieta' di:"
20012 "(nessuno)"
20013 "Non riesco a trovare "
20014 " non e' un robot valido"
20015 "DNA non salvato"
20016 "Salva DNA"
20017 "Salva simulazione"
20018 "Carica simulazione"
 

30000 "Output video disabilitato, usa il pulsante nella barra in alto per ripristinarlo"

END
