STRINGTABLE DISCARDABLE
BEGIN
1000 "DarwinBots II"
1001 "File"
1002 "New simulation"
1003 "Load simulation"
1004 "Save simulation as..."
1005 "Save every..."
1006 "Quit"

1007 "Insert species"
1008 "Global mutation rates"
1009 "Modify costs"
1010 "Physics"
1011 "Draw walls"
1012 "Find best (euristic..)"
1013 "Edit"

1020 "View"
1021 "Hide fingerprints"
1022 "Fast mode"

1030 "Robot options"
1031 "Change color"
1032 "Show family ties"
1033 "Mutation rates"
1034 "Open console"
1035 "Kill"
1036 "Save DNA"

1040 "Internet transfers"
1041 "List and options"
1042 "Active"

1050 "Help"
1051 "About DarwinBots"



2001 "Start settings"
2002 "Loaded species"
2003 "Add species"
2004 "Delete species"
2005 "Delete all"
2006 "Duplicate Species"
2100 "Comments on the species"

2010 "Species starting properties"
2011 "Individuals"
2012 "Starting energy"
2013 "Vegetable (autotroph)"
2014 "Starting position"
2015 "Colour"
2016 "Mutation rates"
2120 "Change"
2121 "Skin"
2122 "Blocked"

2020 "General properties"
2021 "Field size"
2022 "Constrain population around"
2023 "Block vegetables"
2024 "Way to limit population"
2025 "famine"
2026 "kill eldest"
2027 "random kills"
2028 "Costs and energy settings"
2029 "Physics"
2030 "Autosave every..."
2031 "Load settings"
2032 "Save as.."
2033 "Cancel"
2034 "Start"

2200 "Population control"
2201 "Max energy in the field"
2202 "about"
2203 "Repopulate with vegs if less than..."
2204 "Kill distant vegs"

2300 "Field width"
2301 "Field height"
2302 "Toroidal (crossing a border respawns on the other end)"
2303 "Disable ties"

2040 "From here you can insert new species in a currently running simulation. Controls are the same as in 'New simulation' window"
2041 "Insert species"

3001 "Autosave"
3002 "Save whole simulation every"
3003 "minutes"
3004 "File name"
3005 "Browse..."
3006 "Save best robot every"
3007 "You can set a periodical saving of the whole simulation or of the best robots. Files are saved with increasing index number"
3008 "Specify name only, without path/ extension"

4001 "Quit DarwinBots"
4002 "Are you sure you want to exit?"

5001 "Global mutation rate"
5002 "Current multiplier:"
5003 "low"
5004 "high"
5005 "Here you can set a multiplier of the global mutation rates. Useful to increase genetic variability (rate high) or to reduce it via selection (rate low)"
5100 "Frequency oscillation"
5101 "Make mutation fraquency oscillating between 16x and 1/16x"
5102 "Cycles at 16x"
5103 "Cycles at 1/16x"

6001 "Advanced properties"
6002 "Cost of an execution condition"
6003 "Cost of a 'store' operation"
6004 "Cost of a chemical emission"
6005 "Energy exchanged on hit:"
6006 "Proportional"
6007 "Fixed"
6008 "Apply"
6009 "Here you can set values for some basic variables of the whole simulation. Every change will take effect over the whole costs/benefits rates"

7001 "Physics"
7002 "Set the value for friction"
7003 "Set the value for gravity"
7004 "Set the value for brownian motion"
7005 "Set the 'swimming factor'"
7006 "Set the 'moving factor'"

30001 "Stop database recording"
30002 "Enable database recording"
30003 "Database name"
30004 "Browse"
30005 "Exclude vegs from recording"

31001 "Nickname"
31002 "Ftp server"
31100 "Parameters"
31101 "Use internet organisms sharing"
31102 "but never transfer vegetables"
31103 "Download organisms with at least"
31104 "cells"
31105 "Download every"
31106 "cycles"
31107 "and every time something is uploaded"
31108 "DarwinBots will upload up to one organism every 100,000 cycles to the specified ftp server. Also, the first upload will be allowed at 100,000 cycles. "

8001 "Walls"
8002 "Draw path for wall"
8003 "Make wall"
8004 "Click on 'Draw path' to start drawing the wall's segments. Click on 'Make wall' to create a wall following the path" 

9001 "Define colour..."
9010 "Family ties"
9011 "Offspring"
9012 "Calculate"
9013 "generations"
9014 "Mark offspring"
9015 "Show all family tree"
9016 "parent"
9017 "child"

10001 "Mutation rates"
10002 "Mutation rates of mutation rates"
10003 "From value to value"
10004 "From instruction to instruction"
10005 "Duplicate instruction"
10006 "Duplicate whole gene"
10007 "Erase gene"
10008 "Change condition"
10009 "Insert condition"
10010 "Erase condition"
10011 "Duplicate condition"
10012 "Change a variable with another"
10013 "Introduce a new variable" 
10100 "Disable all mutations"
10110 "Multiply frequencies by"

11001 "Internet options"
11002 "Online contacts"
11003 "All contacts"
11004 "Add"
11005 "Delete"
11006 "Send"
11007 "IP number"
11008 "Automatic transfer mode"
11009 "Never"
11010 "Every n. cycles"
11011 "Transfers towards"
11012 "Specified IP"
11013 "random contact"
11014 "Close"
11015 "DarwinBots can use ICQ client to know the online state of some partners and exchange robots with them. Read the help file about this (fully experimental!) feature."

12001 "Some details you could not live without!"
12002 "Gene machines!"
12003 "Version 2 - February 2003"
12004 "Written by:"
12005 "Hated by:"
12006 "If you'd like to report bugs, or just comment this program: you know my email!"
12007 "E-mail: comis@libero.it"
12008 "Feel better now"

13000 "New simulation"
13001 "Load simulation"
13002 "Save simulation"
13003 "Play"
13004 "Pause"
13005 "Single cycle"
13006 "Insert robot"
13007 "Draw walls"
13008 "Find best"
13009 "Global mutation rates"
13010 "Physics"
13011 "Costs/benefits"
13012 "Fingerprints hide/show"
13013 "Fast mode"
13014 "Toggle video output"
13015 "Zoom in"
13016 "Zoom out"

14001 "Cycles/sec."
14002 "Total objects"
14003 "Total robots"
14004 "Total vegs"
14005 "Born"
14006 "Total cycles"
14007 "Time running"

15000 "Robot data"
15001 "Founder name"
15002 "Robot id"
15003 "Parent id"
15004 "Energy"
15005 "Generation"
15006 "New mutations"
15007 "Overall mutations"
15008 "Number of genes"
15009 "Age (hundreds of cycles)"
15010 "Number of offspring"
15011 "Descendants"
15012 "DNA length"
15015 "Coming from"
15016 "Mutations detail"
15017 "Close details"

16000 "DarwinBots: getting started"
16001 "All the circels you see in these pictures are robots, that means they're program controlled machines. Every robot has senses and actuators to interact with the environment."
16002 "The controlling program is called DNA; it works on a memory fed with data coming from senses; some memory locations also are bound to actuators."
16003 "Every robot needs energy, to perform actions and execute DNA. Here you can see an orange robot shooting at a green one, forcing it to emit white particles, carrying energy. The result is an energy transfer from green to orange bot. "
16004 "A robot is duplicating. In this operation his DNA is copied in a newly formed 'robot body'. You can see a thick string tieing parent and child for a while "
16005 "Robots can connect to each other with thin, but everlasting ties. Here you can see a multicellular worm made up of four cells tied together in a precise shape."
16006 "Robots can use ties also to send information or energy, and also move them to swim, as these worms do."
16007 "This is a scheme for the robot sense of sight: it is a one-dimensional projection of a 30 degree field portion. Nine receptors return the distance of the nearest object in their sector." 

20001 "Are you sure you want to quit?"
20002 "Simulation not loaded"
20003 "Simulation not saved"
20004 "Warning!"
20005 "Cannot locate the variables file (sysvars.txt)"
20006 "Cannot locate the settings file"
20007 "Robots are all dead, simulation stopped"
20008 "Mutation rates for "
20009 "Mutation rates"
20010 "Choose a DNA file to load"
20011 "Properties for:"
20012 "(none)"
20013 "Cannot find "
20014 " is not a valid robot"
20015 "DNA not saved"
20016 "Save DNA"
20017 "Save simulation"
20018 "Load simulation"

30000 "Video output disabled. Click on the toggle video button to restore."
END
